---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/calendar/v3/calendars/usa__en@holiday.calendar.google.com/events?key=A_BAD_KEY&orderBy=startTime&singleEvents=true&timeMax=2014-11-06T18:00:00%2B00:00&timeMin=2013-11-06T18:00:00%2B00:00
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "usageLimits",
            "reason": "keyInvalid",
            "message": "Bad Request"
           }
          ],
          "code": 400,
          "message": "Bad Request"
         }
        }
  recorded_at: Wed, 06 Nov 2013 18:00:00 GMT
recorded_with: VCR 2.5.0
