---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/calendar/v3/calendars/usa__en@holiday.calendar.google.com/events?key=A_GREAT_KEY&orderBy=startTime&singleEvents=true&timeMax=2014-11-06T18:00:00%2B00:00&timeMin=2013-11-06T18:00:00%2B00:00
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"o0PlDXSyH0x6pOfUMOSLgGmP-iQ/JCgHLNBf-I9C4YtwGWUurHX2w0w"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "calendar#events",
         "etag": "\"o0PlDXSyH0x6pOfUMOSLgGmP-iQ/JCgHLNBf-I9C4YtwGWUurHX2w0w\"",
         "summary": "US Holidays",
         "description": "US Holidays",
         "updated": "2013-11-06T17:33:23.125Z",
         "timeZone": "UTC",
         "accessRole": "reader",
         "items": [
          {
           "kind": "calendar#event",
           "etag": "\"o0PlDXSyH0x6pOfUMOSLgGmP-iQ/MTM4MzcxNzE0MzAwMDAwMA\"",
           "id": "h@7b46454d483d43de6f2c1d846c78fe390c69eb74",
           "status": "confirmed",
           "htmlLink": "https://www.google.com/calendar/event?eid=aEA3YjQ2NDU0ZDQ4M2Q0M2RlNmYyYzFkODQ2Yzc4ZmUzOTBjNjllYjc0IHVzYV9fZW5AaA",
           "created": "2013-11-06T05:52:23.000Z",
           "updated": "2013-11-06T05:52:23.000Z",
           "summary": "Veterans Day",
           "creator": {
            "email": "usa__en@holiday.calendar.google.com",
            "displayName": "US Holidays",
            "self": true
           },
           "organizer": {
            "email": "usa__en@holiday.calendar.google.com",
            "displayName": "US Holidays",
            "self": true
           },
           "start": {
            "date": "2013-11-11"
           },
           "end": {
            "date": "2013-11-12"
           },
           "visibility": "public",
           "iCalUID": "h@7b46454d483d43de6f2c1d846c78fe390c69eb74@google.com",
           "sequence": 1
          },
          {
           "kind": "calendar#event",
           "etag": "\"o0PlDXSyH0x6pOfUMOSLgGmP-iQ/MTM4MzcxNzE0MzAwMDAwMA\"",
           "id": "h@0268dc94392abe94dd6b1947b340ef1f6f698031",
           "status": "confirmed",
           "htmlLink": "https://www.google.com/calendar/event?eid=aEAwMjY4ZGM5NDM5MmFiZTk0ZGQ2YjE5NDdiMzQwZWYxZjZmNjk4MDMxIHVzYV9fZW5AaA",
           "created": "2013-11-06T05:52:23.000Z",
           "updated": "2013-11-06T05:52:23.000Z",
           "summary": [...]
